.player1 {
    background: linear-gradient(90deg,#f4033f, #03a9f4, #3bffff, #f441ee, #f4033f);
    background-size: 50%;
    animation-direction: alternate-reverse;
	animation: p1HealthGradient 4s linear infinite;

}
.player2 {
    background: linear-gradient(90deg, #f4033f, #f441ee, #3bffff, #03a9f4, #f4033f);
    background-size: 50%;
    animation: p2HealthGradient 4s linear infinite;
}

@keyframes p1HealthGradient {
    0% {
        background-position: 100%, 0;
    }
    100% {
        background-position: 0%, 0;
    }
}

@keyframes p2HealthGradient {
    0% {
        background-position: 0%, 0;
    }
    100% {
        background-position: 100%, 0;
    }
}
